.container-location {
    display: flex;
    width: 150px;
}

img {
    margin: 5px;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
}

p {
    margin: 5px;
    font-size: 8pt;
}

@media(max-width:641px){
   p {
       font-size: 8pt;
   }
}
