@page "/sobre"

@using GestaoLojaTP.Components.Pages.ProdutoPages

<p style=" font-size: 30pt;"><b>Sobre nós</b></p>
<p><b>@AppConfig.tituloHomePage</b></p>
<p>@AppConfig.enderecoHome</p>
<p>Contactos:</p>
<p>Mail: @AppConfig.email</p>
<p>Telefone: @AppConfig.telefone</p>