@inherits LayoutComponentBase
@using RCLComum.Shared

<div class="page">
    <main>
        <HeaderComponent/>
        <article class="content">
            @Body
        </article>
    </main>
</div>
